include LICENSE
include doc/Makefile
include doc/source/*.py
include doc/source/*.rst
recursive-include include *.h
recursive-include src/extension *.c
recursive-include test_c *.c
include test_c/c_tests.py
